<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewPostServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.AddNewPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewPostServlet</servlet-name>
        <url-pattern>/AddNewPostServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.EditPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.LikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.PostDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/PostDetailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostsServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.PostsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostsServlet</servlet-name>
        <url-pattern>/PostsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>kz.iitu.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>Main.jsp</welcome-file>
    </welcome-file-list>

</web-app>